$font_base          : 'HelveticaNeue', Helvetica, Arial, sans-serif;

$font_avenir_light      : 'Avenir LT W01 35 Light', Arial, sans-serif;
$font_avenir_light_ob   : 'AvenirLTW01-35LightObli', Arial, sans-serif;
$font_avenir_book       : 'Avenir LT W01 45 Book', Arial, sans-serif;
$font_avenir_book_ob    : 'AvenirLTW01-45BookObliq', Arial, sans-serif;
$font_avenir_roman      : 'Avenir LT W01 55 Roman', Arial, sans-serif;
$font_avenir_roman_ob   : 'AvenirLTW01-55Oblique', Arial, sans-serif;
$font_avenir_medium     : 'Avenir LT W01 65 Medium', Arial, sans-serif;
$font_avenir_medium_ob  : 'AvenirLTW01-65MediumObl', Arial, sans-serif;
$font_avenir_heavy      : 'Avenir LT W01 85 Heavy', Arial, sans-serif;
$font_avenir_heavy_ob   : 'AvenirLTW01-85HeavyObli', Arial, sans-serif;
$font_avenir_black      : 'Avenir LT W01 95 Black', Arial, sans-serif;
$font_avenir_black_ob   : 'AvenirLTW01-95BlackObli', Arial, sans-serif;

$color_lt_blue : #7fafc4;
$color_blue    : #00608a;
$color_bg_gray : #f6f6f6; // used as the background to some boxes
$color_lt_gray : #e2e2e2;
$color_med_gray: #676767;
$color_gray    : #363636;
$color_green   : #abb400;
$color_green2  : #c5c976;
$color_lt_green: #c4ca4c;